.footer {
    background-color: hwb(197 35% 20%);
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribute space between title and button */
    align-items: center; /* Align items vertically in the center */
    margin-top: 100vh;
  }